.single-dev-wrapper {
    width: 90%;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 2em;
    border-radius: 1em;
    -webkit-box-shadow: 2px 4px 16px -8px #000000; 
    box-shadow: 2px 4px 16px -8px #000000;
    display: flex;
    font-family: 'Space Mono', monospace;
    overflow: auto;
    position: relative;
}

.single-dev-wrapper p {
    display: flex;
    align-items: center;
}

.img-section {
    flex: 1;
}

.info-left {
    flex: 5;
}

.info-right {
    flex: 6;

}
/* 
.info-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.dev-pfp {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 30px;
}

p {
    color: #36525f
}

.xp {
    font-weight: 700;
}

.dev-technology span {
    font-weight: 700;
}

.dev-language span {
    font-weight: 700;
}
.dev-icons {
    margin-right: 10px;
}

#dev-desc {
    align-items: flex-start;
    margin-top: 2em;
}

.dev-name {
    font-size: 1.8em;
}

.linkedin-link {
    text-decoration: none;

}

.edit-delete {
    position: absolute;
    top: 1em;
    right: .7em;
}

.update-icons {
    cursor: pointer;
}

.edit-icon:hover {
    color: rgb(37, 41, 37);
}

.delete-icon:hover {
    color: rgb(122, 49, 49)
}


.checkbox-div {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
